@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #313735;
    color: #ffffffea;
  }
a{
    color: #00f06cd5;
    text-decoration: none;
}
a:hover{
    color: #00f06cd5;
    text-decoration: underline;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    background-color: #020310;
    color: #ffffffea;
}
header h1 {
    margin: 0;
    font-size: 30px;
}
header h1 a {
    color: #ffffffea;
    text-decoration: none;
}
header h1 a:hover {
    color: #ffffffea;
    text-decoration: underline;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    gap: 20px; 
}
nav ul li {
    margin: 0;
}
nav ul li a {
    color: #ffffffea;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.main-container
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 50px 0px;   
}
.main-container img
{
    width: 500px;
    height: auto;
}
.left-column{
    display: block;
    max-width: 600px;
    align-items: left;
}
.left-column h2
{
    font-size: 40px;
}
.left-column p{
    font-size: 30px;
}
.right-column
{
    display: block;
    max-width: 600px;
    align-items: center;
    text-align: center;
}
.right-column h2
{
    font-size: 40px;
}
main iframe
{
    width: 800px;
    height: 1200px;
}
main section
{
    display: block;
    width: 400px;
}
main section h3
{
    text-align: center;
}
main section p
{
    font-size: large;
}
main h1
{
    padding: 20px 20px;
}
main h2
{
    padding: 20px 20px;
}

.projectspost
{
    display: flex;
    align-items: flex-start;
    padding: 20px;
    
}
.textdescription
{
    flex: 1;
    margin-right: 20px;
    padding: 0px 20px;
    font-size: 20px;
}
.textdescription p a{
    color: #00f06cd5;
    text-decoration: none;
}
.textdescription p a:hover{
    color: #00f06cd5;
    text-decoration: underline;
}
.projectimage
{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.projectimage img{
    width: 200px;
}
.service
{
    display: block;
    padding: 20px 20px;
}
.service p
{
    padding: 20px 20px;
    font-size: large;
}
footer {
    background-color: #020310;
    color: #ffffffea;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    padding: 25px 20px;

}

.footer-column {
    position:relative;
    flex: 1;
    min-width: 200px;
    margin: 10px 0;
}

.footer-column h3 {
    margin-bottom: 15px;
    font-size: 19px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #ffffffea;
    text-decoration: none;
}
.footer-column ul li p :hover{
    color: #ffffffea;
    text-decoration: underline;
}
.footer-socials {
    
    display: flex;
    position: absolute;
    right: 0;

    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: #020310;
}

.footer-socials a {
    margin: 0 10px;
}

.footer-socials img {
    width: 100px; 
    height: 100px;
    filter: invert(100%); 
}
.footer-bottom {
    text-align: center;
    padding: 10px 20px;
    background-color: #222;
    color: #ccc;
}
@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    nav ul li {
        text-align: left;
        width: 100%;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .footer-socials {
        flex-direction: column;
    }

    .footer-socials img {
        margin: 10px 0;
    }

    .footer-column {
        margin: 20px 0;
        text-align: center;
    }
}

